@import "./variables";
body {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  button {
    cursor: pointer;
  }

  #app {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 100%;
    background-color: yellow;
    header {
      background-color: $background-color-header;
      grid-area: 1/ 1/ 2/ 13;
      color: white;
      display: flex;
      align-items: center;
      font-size: 2rem;
      padding-left: 2rem;
    }
    nav {
      grid-area: 2 / 1 / 13 / 3;
      background-color: $background-color-nav;
      font-weight: bold;
      padding: 1rem;
      font-size: 1.5rem;
      #projects-header {
        padding-left: 0.5rem;
      }
      #projects {
        button:hover {
          background-color: #cccccc;
        }
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .project {
          height: 30;
          width: 80%;
          padding: 1rem;
          border: none;
          background-color: transparent;
          text-align: left;

          font-size: 1rem;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          align-items: center;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
          }
          button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            .active {
              background-color: #cccccc;
            }
          }
        }
        .project:hover {
          background-color: #cccccc;
        }
        .active {
          background-color: #cccccc;
        }
      }
    }

    main {
      background-color: $background-color-app;
      grid-area: 2 / 3 / 13 / 13;
      display: flex;
      flex-direction: column;

      .main-wrapper {
        padding: 0.5rem 1rem;
        .buttons-main {
          display: flex;
          gap: 1rem;
          button {
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            border: none;
          }
          button:hover {
            background-color: #cccccc;
          }
        }
      }
    }
  }
}
#input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
  input {
    align-self: center;
    box-sizing: border-box;
    border: 1px solid lighten(rgb(56, 56, 56), 30%);
    border-radius: 0.2rem;
    width: 90%;
    padding: 1rem;
  }
  #button-wrapper {
    align-self: center;
    gap: 1rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    button {
      border: none;
      padding: 0.7rem 1rem;
      border-radius: 0.2rem;
      cursor: pointer;
      min-width: fit-content;
      flex: 1;
      font-weight: 800;
    }
    :nth-child(1) {
      border: 1px solid darken($button-green, 10%);
      background-color: $button-green;
    }
    :nth-child(2) {
      border: 1px solid darken($button-red, 10%);
      background-color: $button-red;
    }
  }
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  border-radius: 1rem;
  gap: 1.5rem;
  h2,
  h3 {
    margin: 0;
  }
  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    * {
      padding: 1rem;
    }
  }
}
.popup-button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
  font-weight: bold;
}
#todo-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5rem;
  div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    width: 200px;
    height: 250px;
    border-radius: 0.5rem;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    h3 {
      margin: 0;
      margin-top: 2rem;
    }
    p {
      height: 40px;
    }
    button {
      cursor: pointer;
    }
    .delete-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.75rem;
      border: none;
      background-color: transparent;
    }
    .delete-button:hover {
      transform: scale(1.1);
    }
    .edit-button {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.75rem;
      border: none;
      background-color: transparent;
    }
    .edit-button:hover {
      transform: scale(1.1);
    }
    .finished-button {
      background-color: green;
      border: 0;
      color: white;
      border-radius: 0.5rem;
      width: 80%;
      padding: 0.5rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: flex-end;
      animation: ease-in-out 0.2s;
    }
    .finished-button:hover {
      background-color: darken($color: green, $amount: 2%);
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
.delete-popup {
  font-size: larger;
  :nth-child(3) {
    padding: 1rem 4rem;
  }
}
.activity-log {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 90%;
  overflow: scroll;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  .activity {
    min-width: 90%;
    border: 1px solid;
    padding: 1rem;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    * {
      margin: 0;
    }
  }
}
